// JQuery
include /vendor/jquery/assets

// Template
include /vendor/jsrender/assets

// CSS Frameworks
// include /vendor/bootstrap/assets
// include /vendor/bulma/assets
// include /vendor/kube/assets
// include /vendor/uikit/assets
include /vendor/wing/assets

// Site specific
include /vendor/app/assets

// Data Fetching
include /vendor/directus/assets